*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    gap: 1em;
}

.header li {
    font-size: .8em;
}